.leaflet-contextmenu {
    background: rgb(235, 235, 235);
    background: rgba(235, 235, 235, 0.81);
    background-clip: padding-box;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    color: #111;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    z-index: 6;
    visibility: hidden;
    margin: 0;
}

.leaflet-contextmenu-item {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 2px 6px;
    color: black;
}

.leaflet-contextmenu-item:hover {
    background-color: #ccc;
}