.leaflet-panel {
    background: rgb(235, 235, 235);
    background: rgba(235, 235, 235, 0.81);
    background-clip: padding-box;
    border-color: #777;
    border-color: rgba(0,0,0,0.25);
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    color: #111;
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 4px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    z-index: 7;
    display: block;
    margin: 0;
}