.marker {
    background-color: red;
    /*border-radius: 10px;*/
    /*opacity: 0.5;*/
    background: url(images/icon.png) center center no-repeat;
    border: 1px solid black;
}

.markerSelected {
    border-radius: 10px;
    background-color: green;
    opacity: 0.7;
    border: 1px solid black;
}

.block {
    border-bottom: 2px dashed black;
    font-size: 16px;
    color: #555;
}

.header {
    font-size: 22px;
}

.geozoneIcon {
    background-image: url(/geozone.png);
    border: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    color: white;
    line-height: 27px;
    text-shadow: 0.1px 0.5px 2px black;
}

.vehicleIcon {
    background-image: url(/vehicle.png);
    width: 30px;
    height: 22px;
}

.leaflet-box-selection {
    border: 1px dashed #000000;
    position: absolute;
    z-index: 99999;
}
.dnd {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    -webkit-user-drag: element !important;
}